@font-face{
    font-family: Raleway;
    src: url(Raleway-Light.otf);
}

body{
    font-family: Raleway;
}

h2{
    font-family: Times New Roman;
    letter-spacing: 0px;
}

form {
    color: #1B1E3A;
    border-style: 20px;
    margin-top: 15px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 10px;
    background-color: #C2C9DD;
}

.form-group{
    color: white;
    padding: 14px 14px;
    margin-top: 15px;
    width: 85%;
    border-radius: 12px;    
    background-color:#1B1E3A;
}

.display-size{
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;     
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #1B1E3A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius: 12px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    margin-right:100px;
    padding-top: 16px;
}
}


